.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.buttons {
    margin-top: 20px;
}

.button {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.content {
    margin-top: 40px;
    /* Additional styling for content */
}

.logout-button, .back-button {
    margin: 5px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.back-button {
    background-color: black;
}
